
*{
    margin: 0;
    padding: 0;

}

h1 {text-align: center;
}

body{background: url(class.jpeg);
background-size: cover;
text-align: center;
height: auto;
font-family: sans-serif;
}

.container{
  width: 800px;
  height: 600px;
  background-color: aliceblue;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 20px rgba(red, green, blue, alpha);  
}

.container p{
text-transform: uppercase;
text-align: center;
font-size: 45px;
margin-bottom: 20px;
color: aliceblue;
letter-spacing: 1px;
}

.input, .msg .area{
width: 100%;
padding: 20px;
box-sizing: border-box;
margin-bottom: 25px;
border: 2px salmon;
font-size: 14px;
border-radius: 5px;
outline: none;
transition: all 0.5s ease;

}

.Login .input{

    width: 48%;
    float: left;
    margin-right: 4%;

}

.Login .input:last-child{

    height: 200px;
}

.btn{

    width: 250px;
    background-color: green;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: blue;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}

.input:focus,
.msg .area:focus{

    border: 2px salmon;
}

: ::-webkit-input-placeholder{
    font-family: sans-serif;
}