* {
    margin: 0;
    padding: 0;

}

.navbar{
    width: 100%;
    height: 4em;
    background-color: rgb(214, 6, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    color: #fff;
    font-size: 3.5em;
    font-weight: 600;
    margin-left: 2em;
}

.navlist{
    width: 50%;
    display: flex;
    justify-content: end;
    
}

.navlist ul{
    list-style: none;
    display: inline-flex;
    margin-right: 4em;
}

.navlist li{
    margin-right: 30px;
    font-size: larger;

}

.navlist li a{
    text-decoration: none;
    color: #fff;
}

li a.active{
    color: rgb(114, 3, 3);
    text-size-adjust: 20em;
